<div class="carousel-container">
    
    <swiper 
        [slidesPerView]="5" 
        [spaceBetween]="15" 
        [slidesPerGroup]="5"
        [watchOverflow]="true"
        [loop]=false 
        [autoplay]="false"
        [allowTouchMove]="false"
        [navigation]="true" class="carousel-products">
        <ng-template swiperSlide  *ngFor="let product of products">
            <single-product 
                class="single-prod"
                [product]="product"
                routerLink="Product/{{product.id}}">
            </single-product>
        </ng-template>
    </swiper>
</div>