<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <label for="email">E-mail, teléfono o usuario</label>
                <input formControlName="email" type="text">
            </li>
            <li>
                <label for="password">Contraseña</label>
                <input formControlName="password" type="password">
            </li>
        </ul>
        <button type="submit">Login</button>
    </form>
</div>