<nav class="navbar">
    <div class="first-list">
        <a href="#">
            <figure><img src="../../../assets/meli-logo.png" alt="logo meli"></figure>
        </a>
        <input class="searchbar" type="text" placeholder="Busca productos, marcas y más... ">
        <button>menu</button>
        <img class="carrito" src="../../../assets/carrito.png" alt="carrito">
    </div>
    <div class="second-list">
        <nav>
            <ul>
                <li><a href="#">ingresa ubicación</a></li>
            </ul>
            <ul>
                <li><a href="#"> Categorías </a></li>
                <li><a href="#"> Historial </a></li>
                <li><a href="#"> Moda </a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="#"> Ayuda/PQR </a></li>
            </ul>
            <ul>
                <li><a href="#"> Crea tu cuenta </a></li>
                <li><a href="#"> Ingresa </a></li>
                <li><a href="#"> Mis compras </a></li>
            </ul>
        </nav>
    </div>
</nav>