<div class="navbar-background">
    <div class="navbar-container">
        <nav class="navbar">
            <div class="first-list">
                <a href="#">
                    <figure><img src="../../../assets/img/meli-logo.png" alt="logo meli"></figure>
                </a>
                <meli-search></meli-search>
                <nav class="profile-list">
                    <ul>
                        <li><a href="#"> Crea tu cuenta </a></li>
                        <li><a href="#"> Ingresa </a></li>
                        <li><a href="#"> Mis compras </a></li>
                        <img class="carrito" src="../../../assets/img/carrito.png" alt="carrito">
                    </ul>
                </nav>       
            </div>
            <div class="second-list">
                <nav>
                    <ul>
                        <li><a href="#"><span><img src="../../../assets/icons/location.png"></span>ingresa tu Ubicación</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"> Categorías </a></li>
                        <li><a href="#"> Historial </a></li>
                        <li><a href="#"> Moda </a></li>
                        <li><a href="#"> Vender </a></li>
                        <li><a href="#"> Ayuda/PQR </a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>