.navbar-background  {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    .navbar-container{
        max-width: 1200px;
        width: 100%;
        .navbar{
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            
            height: 10rem;
            width: 100%;
            .first-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    height: 5.4rem;
                    width: 14rem;
                    margin: 0 2rem;
                    figure{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .profile-list{
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            /* width: fit-content; */
                            padding: 0 .2rem;
                            font-size: 1.1em;
                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }        
                }
        
            }
            .second-list{
                display: flex;
                height: 5rem;
                width: 100%;
                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    ul{
                        list-style: none;
                        display: flex;
                        li{
                            /* width: fit-content; */
                            padding: 0 1rem;
                            font-size: 1.3em;
                            a{
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }            
                }
            }
            .carrito{
                width: 2rem;
                height: auto;
            }
        }
        meli-search {
            width: 50%;
    }
    }
}