<section class="product-container" >
    <div class="product-imgs">
        <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
        <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
        <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
    </div>
    <div class="first-section">
        <figure class="img-product-container">
            <img src={{apiSvc.product.image}} alt="">
        </figure>
        <div class="product-description">
            <h2>Descripción</h2>
            <p>{{apiSvc.product.description}}</p>
            <div class="questions">
                <h2>Proguntale al vendedor</h2>
                <div class="bar">
                    <input type="text" placeholder="Escribe tu pregunta">
                    <button>Preguntar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="second-section">
        <div class="about-product">
            <p class="sold">Nuevo | 200 vendidos</p>
            <h2 class="product-title">{{apiSvc.product.title}}</h2>
            <h2 class="product-price">$ {{apiSvc.product.price}}</h2>
            <p class="cuotes">en 12x $ {{apiSvc.product.price / 12 | number}} sin interés</p>
            <a href="#">ver los medios de pago</a>
            <div class="envio-container">
                <img class="envio-icon" src="../../../assets/icons/transport.png" alt="">
                <div class="description">
                    <p class="envio">Llega gratis el Sábado</p>
                    <a href="#">Ver más formas de entrega</a>
                </div>
            </div>
            <div class="devolucion-container">
                <img class="devolucion-icon" src="../../../assets/icons/volver.png" alt="">
                <div class="description">
                    <p class="devolucion">Devolución gratis</p>
                    <p class="garantia">Tienes 30 días desde que lo recibes</p>
                    <a href="#">Ver más formas de entrega</a>
                </div>
            </div>
            <h2 class="stock">Stock disponible</h2>
            <button class="btn-comprar">Comprar ahora</button>
            <button class="btn-agregar">Agregar al carrito</button>
        </div>
    </div>
    

</section>