<section class="product-container" >
    <div class="first-section">
        <div class="product-imgs">
            <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
            <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
            <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
        </div>
        <figure class="img-product-container">
            <img src="https://static.dafiti.com.co/p/frenezi-4152-1164611-1-product.jpg" alt="">
        </figure>
    </div>
    <div class="second-section">
        <div class="about-product">
            <p>Nuevo | 200 vendidos</p>
            <h2>chaqueta melita</h2>
            <h2>$100000</h2>
            <p>en 12x $ 33000 sin interés</p>
            <a href="#">ver los medios de pago</a>
            <button class="btn-comprar">Comprar ahora</button>
            <button class="btn-agregar">Agregar al carrito</button>
        </div>
    </div>

</section>