.product-container{
    margin: 5rem;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    background-color: #fff;
    border-radius: 4px;
}
.product-imgs{
    width: 70px;
    height: 70px;
    padding: 1rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid rgba(0,0,0,.1);
        margin: 5px 0;
        cursor: pointer;
    }
}
.first-section{
    margin-bottom: 50px;
    figure{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 3rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .product-description{
        width: 95%;
        border-top: 1px solid rgba(0,0,0,.1);
        h2{
            font-size: 2em;
            margin: 1.5rem 0;
            margin-top: 2.5rem;
        }
        p{
            font-size: var(--medium);
        }
        .questions{
            .bar{
                display: flex;
                height: 3.5rem;
                justify-content: space-between;
                input{
                    width: 100%;
                    border-radius: 7px;
                    border: 1px solid  rgba(0,0,0,.1);
                    padding: 1rem;
                    outline: none;
                    &:focus{
                        border: 2px solid var(--blue);
                    }
                }
                button{
                    width: 15rem;
                    margin-left: 1rem;
                    background-color: var(--blue);
                    border-color: transparent;
                    color: #fff;
                    border-radius: 7px;
                    cursor: pointer;
                }
            }
        }
    }
}
.second-section{
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    .about-product{
        display: flex;
        flex-direction: column;
        .sold{
            font-size: 1.3em;
            color: rgba(0,0,0, .3);
            margin: 10px 0;
        }
        .product-title{
            font-size: 2em;
            margin-bottom: 12px;
        }
        .product-price{
            font-size: 3.5em;
            font-weight: 100;
        }
        .cuotes{
            color: var(--green);
            font-weight: 400;
            margin-bottom: 8px;
        }
        a{
            color: var(--blue);
            text-decoration: none;
        }
        .envio-container{
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-top: 1.5rem;
            .envio-icon{
                width: 2rem;
            }
            .description{
                margin-left: 10px;
                .envio{
                    color: var(--green);
                }
            }
        }
        .devolucion-container{
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-top: 1.5rem;
            .devolucion-icon{
                width: 2rem;
            }
            .description{
                margin-left: 10px;
                .devolucion{
                    color: var(--green);
                }
                .garantia{
                    font-size: 1.3em;
                    color: rgba(0,0,0, .3);
                }
            }
        }
        .stock{
            margin-top: 2rem;
        }
        .btn-comprar{
            cursor: pointer;
            width: 100%;
            height:46px;
            background-color: var(--blue);
            border-color: transparent;
            color: #fff;
            border-radius: 7px;
            margin-top: 30px;
        }
        .btn-agregar{
            cursor: pointer;
            width: 100%;
            height: 46px;
            background-color: rgba(65,137,230,.15);
            border-color: transparent;
            color: #3483fa;
            border-radius: 7px;
            margin-top: 8px;;
        }
    }
}