<section class="payments-container">
    <div class="payment">
        <img src="../../../assets/icons/credit-card.svg" alt="">
        <div class="payment-description">
            <h3>Hasta 48 Cuotas</h3>
            <a href="#">Ver más</a>
        </div>
    </div>
    <div class="payment">
        <img src="../../../assets/icons/transfer.svg" alt="">
        <div class="payment-description">
            <h3>Transferencias desde tu banco</h3>
            <a href="#">Ver más</a>
        </div>
    </div>
    <div class="payment">
        <img src="../../../assets/icons/payment-agreement.svg" alt="">
        <div class="payment-description">
            <h3>Paga en efectivo</h3>
            <a href="#">Ver más</a>            
        </div>
    </div>
    <div class="payment">
        <img src="../../../assets/icons/view-more.svg" alt="">
        <div class="payment-description">
            <h3>Más medios de pago</h3>
            <a href="#">Ver más</a>
        </div>
    </div>
</section>