/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #ebebeb;
    --secondary-color: #fff159;
    --tertiary-color: #ffdb15;
    --green: #00a650;
    --blue: #3483fa;
    --padding: 4rem;
    --medium: 1.8rem;
    
}
html{
    font-size: 62.5%;  
    background-color: var(--primary-color);
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif
}
p{
    font-size: 1.5rem;
}